.grid {
    display: grid;
    grid-template-columns: repeat(16, 0fr);
    grid-template-rows: repeat(16, 1fr);
    width: 960px;
    height: 500px;
    background-color: #665959d8;
    justify-content: center;
}

.grid-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 30px;
    width: 30px;
}

